@charset "UTF-8";

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-Black.woff2") format("woff2"), url("../fonts/YsabeauInfant-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-BlackItalic.woff2") format("woff2"), url("../fonts/YsabeauInfant-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-Bold.woff2") format("woff2"), url("../fonts/YsabeauInfant-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-BoldItalic.woff2") format("woff2"), url("../fonts/YsabeauInfant-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-ExtraBold.woff2") format("woff2"), url("../fonts/YsabeauInfant-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/YsabeauInfant-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-ExtraLight.woff2") format("woff2"), url("../fonts/YsabeauInfant-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-ExtraLightItalic.woff2") format("woff2"), url("../fonts/YsabeauInfant-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-Italic.woff2") format("woff2"), url("../fonts/YsabeauInfant-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-Light.woff2") format("woff2"), url("../fonts/YsabeauInfant-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-LightItalic.woff2") format("woff2"), url("../fonts/YsabeauInfant-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-Medium.woff2") format("woff2"), url("../fonts/YsabeauInfant-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-MediumItalic.woff2") format("woff2"), url("../fonts/YsabeauInfant-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-Regular.woff2") format("woff2"), url("../fonts/YsabeauInfant-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-SemiBold.woff2") format("woff2"), url("../fonts/YsabeauInfant-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-SemiBoldItalic.woff2") format("woff2"), url("../fonts/YsabeauInfant-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-Thin.woff2") format("woff2"), url("../fonts/YsabeauInfant-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "YsabeauInfant";
  font-display: swap;
  src: url("../fonts/YsabeauInfant-ThinItalic.woff2") format("woff2"), url("../fonts/YsabeauInfant-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

html {
  font-family: "YsabeauInfant";
  font-size: 20px;
  background-color: #f3f7fa;
  background-blend-mode: multiply;
}

html a {
  color: inherit;
  text-decoration: none;
}

html body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  background-color: #f3f7fa;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 7vh;
  margin: 0;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2980392157);
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6117647059);
          box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6117647059);
}

.hello-wrapper {
  background-image: url(../img/forest1.jpeg);
  background-position: bottom, center;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.276);
  background-blend-mode: overlay;
}

#hello {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 75vw;
  height: 93vh;
  overflow: hidden;
  padding-top: 3rem;
}

#hello p {
  line-height: 1.7rem;
}

body.tales {
  background-image: url(../img/pattern.png);
  background-size: 65%;
}

.tales-text {
  padding-inline: 3rem;
}

.tales-list {
  padding: 2rem 1rem;
}

.tales-list .tales-lestitem {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0px 0px 20px 6px rgb(18, 34, 55);
          box-shadow: inset 0px 0px 20px 6px rgb(18, 34, 55);
}

.tales-list .tales-lestitem#first {
  background-color: #3a909f;
}

.tales-list .tales-lestitem#second {
  background-color: #053f79;
}

.tales-list .tales-lestitem#third {
  background-color: #489556;
}

.tales-list .tales-lestitem#forth {
  background-color: #3f6970;
}

.tales-list .tales-lestitem#fifth {
  background-color: #7b2817;
}

.tales-list .tales-lestitem#sixth {
  background-color: #7d75b0;
}

.tales-list .tales-lestitem#seventh {
  background-color: #db9b2c;
}

.tales-list .tales-lestitem#eighth {
  background-color: #211e50;
}

.tales-list .tales-lestitem#ninth {
  background-color: #014b99;
}

.tales-list .tales-lestitem#tenth {
  background-color: #bd532e;
}

.tales-list a {
  display: block;
  padding: 1.5rem 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #f3f7fa;
}

.tales-list a:hover {
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.tale-name {
  padding-inline: 3rem;
}

article {
  padding-inline: 1rem;
  line-height: 39px;
  font-size: 24px;
  margin-bottom: 4rem;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

#shtuka-button {
  width: 50vw;
  aspect-ratio: 1/1;
  margin: 0 auto;
  background-image: url(../img/Heart_corazón.svg.webp);
  background-size: cover;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: 0.45s cubic-bezier(0.66, -0.14, 0.33, 1.21);
          animation: 0.45s cubic-bezier(0.66, -0.14, 0.33, 1.21);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#shtuka-button:hover {
  background-color: rgba(243, 247, 250, 0);
}

#shtuka-button span {
  display: block;
  color: white;
  font-size: 1.4em;
  margin-top: -1.4rem;
  font-weight: 700;
}

#shtuka-counter {
  display: none;
}

#shtuka-counter * {
  text-align: center;
}

#shtuka-counter #qtt {
  font-size: 4rem;
  font-weight: 900;
  margin-block: 1rem;
}

@-webkit-keyframes heart {
  0% {
    background-size: 80%;
    font-size: 1rem;
  }

  50% {
    background-size: 95%;
    font-size: 1.3rem;
  }

  100% {
    background-size: 80%;
    font-size: 1rem;
  }
}

@keyframes heart {
  0% {
    background-size: 80%;
    font-size: 1rem;
  }

  50% {
    background-size: 95%;
    font-size: 1.3rem;
  }

  100% {
    background-size: 80%;
    font-size: 1rem;
  }
}

.webp .hello-wrapper{ background-image: url(../img/forest1.webp); }

.webp body.tales{ background-image: url(../img/pattern.webp); }